.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  overflow: visible;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.root > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 448px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 448px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 448px) {
  .root > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aLtod {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-b3CwEocSWMMK);
}
.column__aLtod > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.column__aLtod > :global(.__wab_flex-container) > *,
.column__aLtod > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__aLtod > :global(.__wab_flex-container) > picture > img,
.column__aLtod
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.servicesHeading {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  font-family: var(--token-jGGDIdKRIeDV);
  color: var(--token-b4UF7wnPwVPI);
  font-size: 54px;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (max-width: 738px) {
  .columns {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 738px) {
  .columns > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 738px) {
  .columns > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 448px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 448px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__m1S2J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-b3CwEocSWMMK);
}
.column__m1S2J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.column__m1S2J > :global(.__wab_flex-container) > *,
.column__m1S2J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__m1S2J > :global(.__wab_flex-container) > picture > img,
.column__m1S2J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.column__cYmrk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-b3CwEocSWMMK);
}
.column__cYmrk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.column__cYmrk > :global(.__wab_flex-container) > *,
.column__cYmrk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__cYmrk > :global(.__wab_flex-container) > picture > img,
.column__cYmrk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.service__gddgz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__hhbRt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-b3CwEocSWMMK);
}
.column__hhbRt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.column__hhbRt > :global(.__wab_flex-container) > *,
.column__hhbRt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__hhbRt > :global(.__wab_flex-container) > picture > img,
.column__hhbRt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.service__gk4H3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column___8R5WT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-b3CwEocSWMMK);
}
.column___8R5WT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.column___8R5WT > :global(.__wab_flex-container) > *,
.column___8R5WT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___8R5WT > :global(.__wab_flex-container) > picture > img,
.column___8R5WT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.service__plJwf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
