@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Merriweather%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-aZ5N-WCFL8Jt: var(--token-F2j0Fb6y5GQ3);
  --plasmic-token-site-color-text-link: var(--token-aZ5N-WCFL8Jt);
  --token-z9ij-jWtAfnT: var(--token-ikGwwJXF58sD);
  --plasmic-token-site-color-brand-main-default: var(--token-z9ij-jWtAfnT);
  --token-cwdZirqp-gYu: var(--token-z9ij-jWtAfnT);
  --plasmic-token-site-color-sidebard-background: var(--token-cwdZirqp-gYu);
  --token-0Z8qR5PGKmUi: var(--token-pk_1Z9QFM4r7);
  --plasmic-token-site-color-text-default: var(--token-0Z8qR5PGKmUi);
  --token-nLDRTRxX6Lyz: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-heading-company: var(--token-nLDRTRxX6Lyz);
  --token-L1rpmKBsNyvi: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-menu-item-text: var(--token-L1rpmKBsNyvi);
  --token-hrbkfGi6_DWy: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-heading-by-lines: var(--token-hrbkfGi6_DWy);
  --token-OXvb9jZaGo6A: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-heading-footer-statement: var(
    --token-OXvb9jZaGo6A
  );
  --token-2AtWIEuhGa4T: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-heading-footer-default-info: var(
    --token-2AtWIEuhGa4T
  );
  --token-Z9niwN35RWHj: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-home-headline: var(--token-Z9niwN35RWHj);
  --token-NvL5JIHJD0ZF: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-home-sub-headline: var(--token-NvL5JIHJD0ZF);
  --token-7195PXwSl_n6: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-home-button: var(--token-7195PXwSl_n6);
  --token-kx_dVQp2QrK0: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-about-headline: var(--token-kx_dVQp2QrK0);
  --token-_ed3rMc1FdLB: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-sub-sub-headline: var(--token-_ed3rMc1FdLB);
  --token-EGzGFGG_j3Dv: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-about-sub-headline-inline: var(
    --token-EGzGFGG_j3Dv
  );
  --token-tbv4SNO2V6B8: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-about-content: var(--token-tbv4SNO2V6B8);
  --token-ju5786qsEmPC: var(--token-0Z8qR5PGKmUi);
  --plasmic-token-site-color-text-contact-headline: var(--token-ju5786qsEmPC);
  --token-Rle6MkIixEFg: var(--token-0Z8qR5PGKmUi);
  --plasmic-token-site-color-text-contact-labels: var(--token-Rle6MkIixEFg);
  --token-XwFrQlyYKgYG: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-services-headline: var(--token-XwFrQlyYKgYG);
  --token-opCswxsr6Ooz: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-service-headline: var(--token-opCswxsr6Ooz);
  --token-KMGZV4cvHzW7: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-text-service-content: var(--token-KMGZV4cvHzW7);
  --token-9z1JL1ytagxs: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-menu-item-icon: var(--token-9z1JL1ytagxs);
  --token-e5JuKzFHKBm1: var(--token-bVrfp7tpXQ2b);
  --plasmic-token-site-color-social-icons-icon-default: var(
    --token-e5JuKzFHKBm1
  );
  --token-Gng3ETLdVPFP: var(--token-Ot9tdOY-wz83);
  --plasmic-token-site-color-link-hover: var(--token-Gng3ETLdVPFP);
  --token-yq1M8eFQ9bSa: var(--token-b4UF7wnPwVPI);
  --plasmic-token-site-color-menu-item-hover: var(--token-yq1M8eFQ9bSa);
  --token-W6OiLbczamsf: var(--token-eSdnxQh3M7kb);
  --plasmic-token-site-text-normal-default: var(--token-W6OiLbczamsf);
  --token-OwkTeHZtLO20: var(--token-s2XbwIYDzy97);
  --plasmic-token-site-line-height-normal-default: var(--token-OwkTeHZtLO20);
  --token-ukCpHNfJiOul: var(--token-gmTkI8CV6ysl);
  --plasmic-token-site-gap-header-logo: var(--token-ukCpHNfJiOul);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-5K0oUDZWV-8I_font-family: var(--token-fFzPoIKGVhYR);
  --mixin-5K0oUDZWV-8I_font-size: var(--token-eSdnxQh3M7kb);
  --mixin-5K0oUDZWV-8I_font-weight: 400;
  --mixin-5K0oUDZWV-8I_font-style: normal;
  --mixin-5K0oUDZWV-8I_color: var(--token-b4UF7wnPwVPI);
  --mixin-5K0oUDZWV-8I_text-align: left;
  --mixin-5K0oUDZWV-8I_text-transform: none;
  --mixin-5K0oUDZWV-8I_line-height: 24px;
  --mixin-5K0oUDZWV-8I_letter-spacing: normal;
  --mixin-5K0oUDZWV-8I_white-space: pre-wrap;
  --mixin-5K0oUDZWV-8I_user-select: text;
  --mixin-5K0oUDZWV-8I_text-decoration-line: none;
  --mixin-5K0oUDZWV-8I_text-overflow: clip;
  --mixin-D74Sh3qycgOq_color: var(--token-0Z8qR5PGKmUi);
  --mixin-D74Sh3qycgOq_font-weight: 700;
  --mixin-D74Sh3qycgOq_font-size: var(--token-owdqgKd1gRPb);
  --mixin-D74Sh3qycgOq_line-height: var(--token-8IAAh1M2Z5ey);
  --mixin-D74Sh3qycgOq_letter-spacing: -1px;
  --mixin-D74Sh3qycgOq_white-space: pre-wrap;
  --mixin-rXiaRhJcjvl3_color: var(--token-0Z8qR5PGKmUi);
  --mixin-rXiaRhJcjvl3_font-size: var(--token-qF-w8l-jyW6w);
  --mixin-rXiaRhJcjvl3_font-weight: 700;
  --mixin-rXiaRhJcjvl3_letter-spacing: -0.5px;
  --mixin-rXiaRhJcjvl3_line-height: var(--token-NV5iQ6edBkI8);
  --mixin-rXiaRhJcjvl3_white-space: pre-wrap;
  --mixin-O00WkiZcBSH__color: var(--token-lBWX8Kk_SXjv);
  --mixin-O00WkiZcBSH__white-space: pre-wrap;
  --mixin-9LS4cSQU4hY6_color: var(--token-0Z8qR5PGKmUi);
  --mixin-9LS4cSQU4hY6_font-size: var(--token-ievpyAjbeNbB);
  --mixin-9LS4cSQU4hY6_font-weight: 600;
  --mixin-9LS4cSQU4hY6_line-height: var(--token-8EeNaM011TxK);
  --mixin-9LS4cSQU4hY6_white-space: pre-wrap;
  --mixin-DrfmhZoavzCm_color: var(--token-0Z8qR5PGKmUi);
  --mixin-DrfmhZoavzCm_font-size: var(--token-eU71-XZSTeNn);
  --mixin-DrfmhZoavzCm_font-weight: 600;
  --mixin-DrfmhZoavzCm_line-height: var(--token-IFo4m96bzTC-);
  --mixin-DrfmhZoavzCm_white-space: pre-wrap;
  --mixin-igCjhdvLX794_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-igCjhdvLX794_border-bottom-color: #dddddd;
  --mixin-igCjhdvLX794_border-bottom-style: solid;
  --mixin-igCjhdvLX794_border-bottom-width: 1px;
  --mixin-igCjhdvLX794_border-left-color: #dddddd;
  --mixin-igCjhdvLX794_border-left-style: solid;
  --mixin-igCjhdvLX794_border-left-width: 1px;
  --mixin-igCjhdvLX794_border-right-color: #dddddd;
  --mixin-igCjhdvLX794_border-right-style: solid;
  --mixin-igCjhdvLX794_border-right-width: 1px;
  --mixin-igCjhdvLX794_border-top-color: #dddddd;
  --mixin-igCjhdvLX794_border-top-style: solid;
  --mixin-igCjhdvLX794_border-top-width: 1px;
  --mixin-igCjhdvLX794_border-bottom-left-radius: 3px;
  --mixin-igCjhdvLX794_border-bottom-right-radius: 3px;
  --mixin-igCjhdvLX794_border-top-left-radius: 3px;
  --mixin-igCjhdvLX794_border-top-right-radius: 3px;
  --mixin-igCjhdvLX794_font-family: "Inconsolata";
  --mixin-igCjhdvLX794_padding-bottom: 1px;
  --mixin-igCjhdvLX794_padding-left: 4px;
  --mixin-igCjhdvLX794_padding-right: 4px;
  --mixin-igCjhdvLX794_padding-top: 1px;
  --mixin-igCjhdvLX794_white-space: pre-wrap;
  --mixin-RgekKnUnakgt_border-left-color: #dddddd;
  --mixin-RgekKnUnakgt_border-left-style: solid;
  --mixin-RgekKnUnakgt_border-left-width: 3px;
  --mixin-RgekKnUnakgt_color: #888888;
  --mixin-RgekKnUnakgt_padding-left: 10px;
  --mixin-RgekKnUnakgt_white-space: pre-wrap;
  --mixin-kBfD6E7b8kp2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kBfD6E7b8kp2_border-bottom-color: #dddddd;
  --mixin-kBfD6E7b8kp2_border-bottom-style: solid;
  --mixin-kBfD6E7b8kp2_border-bottom-width: 1px;
  --mixin-kBfD6E7b8kp2_border-left-color: #dddddd;
  --mixin-kBfD6E7b8kp2_border-left-style: solid;
  --mixin-kBfD6E7b8kp2_border-left-width: 1px;
  --mixin-kBfD6E7b8kp2_border-right-color: #dddddd;
  --mixin-kBfD6E7b8kp2_border-right-style: solid;
  --mixin-kBfD6E7b8kp2_border-right-width: 1px;
  --mixin-kBfD6E7b8kp2_border-top-color: #dddddd;
  --mixin-kBfD6E7b8kp2_border-top-style: solid;
  --mixin-kBfD6E7b8kp2_border-top-width: 1px;
  --mixin-kBfD6E7b8kp2_border-bottom-left-radius: 3px;
  --mixin-kBfD6E7b8kp2_border-bottom-right-radius: 3px;
  --mixin-kBfD6E7b8kp2_border-top-left-radius: 3px;
  --mixin-kBfD6E7b8kp2_border-top-right-radius: 3px;
  --mixin-kBfD6E7b8kp2_font-family: "Inconsolata";
  --mixin-kBfD6E7b8kp2_padding-bottom: 3px;
  --mixin-kBfD6E7b8kp2_padding-left: 6px;
  --mixin-kBfD6E7b8kp2_padding-right: 6px;
  --mixin-kBfD6E7b8kp2_padding-top: 3px;
  --mixin-kBfD6E7b8kp2_white-space: pre-wrap;
  --mixin-cp6kZudt3wWF_display: flex;
  --mixin-cp6kZudt3wWF_flex-direction: column;
  --mixin-cp6kZudt3wWF_align-items: stretch;
  --mixin-cp6kZudt3wWF_justify-content: flex-start;
  --mixin-cp6kZudt3wWF_list-style-position: outside;
  --mixin-cp6kZudt3wWF_padding-left: 40px;
  --mixin-cp6kZudt3wWF_position: relative;
  --mixin-cp6kZudt3wWF_list-style-type: disc;
  --mixin-cp6kZudt3wWF_white-space: pre-wrap;
  --mixin-G0OfjOsMFCWy_display: flex;
  --mixin-G0OfjOsMFCWy_flex-direction: column;
  --mixin-G0OfjOsMFCWy_align-items: stretch;
  --mixin-G0OfjOsMFCWy_justify-content: flex-start;
  --mixin-G0OfjOsMFCWy_list-style-position: outside;
  --mixin-G0OfjOsMFCWy_padding-left: 40px;
  --mixin-G0OfjOsMFCWy_position: relative;
  --mixin-G0OfjOsMFCWy_list-style-type: decimal;
  --mixin-G0OfjOsMFCWy_white-space: pre-wrap;
  --mixin-nJCVMDDEQGpd_color: var(--token-0Z8qR5PGKmUi);
  --mixin-nJCVMDDEQGpd_font-size: var(--token-3hRiRQ6Lj9le);
  --mixin-nJCVMDDEQGpd_font-weight: 600;
  --mixin-nJCVMDDEQGpd_line-height: var(--token-GBnIhWNMzLiI);
  --mixin-nJCVMDDEQGpd_white-space: pre-wrap;
  --mixin-GX8pGJe6bXEh_color: var(--token-0Z8qR5PGKmUi);
  --mixin-GX8pGJe6bXEh_font-size: var(--token-Ldq67M9_iDBp);
  --mixin-GX8pGJe6bXEh_font-weight: 600;
  --mixin-GX8pGJe6bXEh_line-height: var(--token-8_MaayjU5amP);
  --mixin-GX8pGJe6bXEh_white-space: pre-wrap;
  --mixin-NhzgDSQS07Nn_color: var(--token-uqJ3-jooecSZ);
  --mixin-NhzgDSQS07Nn_white-space: pre-wrap;
  --mixin-lPZWqFxsbiEi_white-space: pre-wrap;
  --mixin-InY-vy742Ss4_white-space: pre-wrap;
  --mixin-oqMVydxgZZrB_white-space: pre-wrap;
  --mixin-VoXSmjR4lVEM_color: var(--token-fIWS9bJaK1oQ);
  --mixin-VoXSmjR4lVEM_white-space: pre-wrap;
  --mixin-CfgMLdYGxpeA_color: var(--token-_FuPH4CUSL8G);
  --mixin-CfgMLdYGxpeA_white-space: pre-wrap;
  --mixin-5BAu8p-TNTT2_font-family: var(--token-jGGDIdKRIeDV);
  --mixin-5BAu8p-TNTT2_white-space: pre-wrap;
  --mixin-3gxKOADiSV8V_font-family: var(--token-jGGDIdKRIeDV);
  --mixin-3gxKOADiSV8V_white-space: pre-wrap;
  --mixin-VPgAMQRntl3H_font-family: var(--token-jGGDIdKRIeDV);
  --mixin-VPgAMQRntl3H_white-space: pre-wrap;
  --mixin-9OneNZUnaPfa_font-family: var(--token-jGGDIdKRIeDV);
  --mixin-9OneNZUnaPfa_white-space: pre-wrap;
  --mixin-dyBnST3v_l73_font-family: var(--token-jGGDIdKRIeDV);
  --mixin-dyBnST3v_l73_white-space: pre-wrap;
  --mixin-_boxQ7nogMS0_font-family: var(--token-jGGDIdKRIeDV);
  --mixin-_boxQ7nogMS0_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-5K0oUDZWV-8I_font-family);
  font-size: var(--mixin-5K0oUDZWV-8I_font-size);
  font-weight: var(--mixin-5K0oUDZWV-8I_font-weight);
  font-style: var(--mixin-5K0oUDZWV-8I_font-style);
  color: var(--mixin-5K0oUDZWV-8I_color);
  text-align: var(--mixin-5K0oUDZWV-8I_text-align);
  text-transform: var(--mixin-5K0oUDZWV-8I_text-transform);
  line-height: var(--mixin-5K0oUDZWV-8I_line-height);
  letter-spacing: var(--mixin-5K0oUDZWV-8I_letter-spacing);
  white-space: var(--mixin-5K0oUDZWV-8I_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-D74Sh3qycgOq_color);
  font-weight: var(--mixin-D74Sh3qycgOq_font-weight);
  font-size: var(--mixin-D74Sh3qycgOq_font-size);
  line-height: var(--mixin-D74Sh3qycgOq_line-height);
  letter-spacing: var(--mixin-D74Sh3qycgOq_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-rXiaRhJcjvl3_color);
  font-size: var(--mixin-rXiaRhJcjvl3_font-size);
  font-weight: var(--mixin-rXiaRhJcjvl3_font-weight);
  letter-spacing: var(--mixin-rXiaRhJcjvl3_letter-spacing);
  line-height: var(--mixin-rXiaRhJcjvl3_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-O00WkiZcBSH__color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-9LS4cSQU4hY6_color);
  font-size: var(--mixin-9LS4cSQU4hY6_font-size);
  font-weight: var(--mixin-9LS4cSQU4hY6_font-weight);
  line-height: var(--mixin-9LS4cSQU4hY6_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-DrfmhZoavzCm_color);
  font-size: var(--mixin-DrfmhZoavzCm_font-size);
  font-weight: var(--mixin-DrfmhZoavzCm_font-weight);
  line-height: var(--mixin-DrfmhZoavzCm_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-igCjhdvLX794_font-family);
  border-radius: var(--mixin-igCjhdvLX794_border-top-left-radius)
    var(--mixin-igCjhdvLX794_border-top-right-radius)
    var(--mixin-igCjhdvLX794_border-bottom-right-radius)
    var(--mixin-igCjhdvLX794_border-bottom-left-radius);
  padding: var(--mixin-igCjhdvLX794_padding-top)
    var(--mixin-igCjhdvLX794_padding-right)
    var(--mixin-igCjhdvLX794_padding-bottom)
    var(--mixin-igCjhdvLX794_padding-left);
  border-top: var(--mixin-igCjhdvLX794_border-top-width)
    var(--mixin-igCjhdvLX794_border-top-style)
    var(--mixin-igCjhdvLX794_border-top-color);
  border-right: var(--mixin-igCjhdvLX794_border-right-width)
    var(--mixin-igCjhdvLX794_border-right-style)
    var(--mixin-igCjhdvLX794_border-right-color);
  border-bottom: var(--mixin-igCjhdvLX794_border-bottom-width)
    var(--mixin-igCjhdvLX794_border-bottom-style)
    var(--mixin-igCjhdvLX794_border-bottom-color);
  border-left: var(--mixin-igCjhdvLX794_border-left-width)
    var(--mixin-igCjhdvLX794_border-left-style)
    var(--mixin-igCjhdvLX794_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-RgekKnUnakgt_color);
  padding-left: var(--mixin-RgekKnUnakgt_padding-left);
  border-left: var(--mixin-RgekKnUnakgt_border-left-width)
    var(--mixin-RgekKnUnakgt_border-left-style)
    var(--mixin-RgekKnUnakgt_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kBfD6E7b8kp2_font-family);
  border-radius: var(--mixin-kBfD6E7b8kp2_border-top-left-radius)
    var(--mixin-kBfD6E7b8kp2_border-top-right-radius)
    var(--mixin-kBfD6E7b8kp2_border-bottom-right-radius)
    var(--mixin-kBfD6E7b8kp2_border-bottom-left-radius);
  padding: var(--mixin-kBfD6E7b8kp2_padding-top)
    var(--mixin-kBfD6E7b8kp2_padding-right)
    var(--mixin-kBfD6E7b8kp2_padding-bottom)
    var(--mixin-kBfD6E7b8kp2_padding-left);
  border-top: var(--mixin-kBfD6E7b8kp2_border-top-width)
    var(--mixin-kBfD6E7b8kp2_border-top-style)
    var(--mixin-kBfD6E7b8kp2_border-top-color);
  border-right: var(--mixin-kBfD6E7b8kp2_border-right-width)
    var(--mixin-kBfD6E7b8kp2_border-right-style)
    var(--mixin-kBfD6E7b8kp2_border-right-color);
  border-bottom: var(--mixin-kBfD6E7b8kp2_border-bottom-width)
    var(--mixin-kBfD6E7b8kp2_border-bottom-style)
    var(--mixin-kBfD6E7b8kp2_border-bottom-color);
  border-left: var(--mixin-kBfD6E7b8kp2_border-left-width)
    var(--mixin-kBfD6E7b8kp2_border-left-style)
    var(--mixin-kBfD6E7b8kp2_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-cp6kZudt3wWF_display);
  flex-direction: var(--mixin-cp6kZudt3wWF_flex-direction);
  align-items: var(--mixin-cp6kZudt3wWF_align-items);
  justify-content: var(--mixin-cp6kZudt3wWF_justify-content);
  list-style-position: var(--mixin-cp6kZudt3wWF_list-style-position);
  padding-left: var(--mixin-cp6kZudt3wWF_padding-left);
  position: var(--mixin-cp6kZudt3wWF_position);
  list-style-type: var(--mixin-cp6kZudt3wWF_list-style-type);
  flex-column-gap: var(--mixin-cp6kZudt3wWF_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-G0OfjOsMFCWy_display);
  flex-direction: var(--mixin-G0OfjOsMFCWy_flex-direction);
  align-items: var(--mixin-G0OfjOsMFCWy_align-items);
  justify-content: var(--mixin-G0OfjOsMFCWy_justify-content);
  list-style-position: var(--mixin-G0OfjOsMFCWy_list-style-position);
  padding-left: var(--mixin-G0OfjOsMFCWy_padding-left);
  position: var(--mixin-G0OfjOsMFCWy_position);
  list-style-type: var(--mixin-G0OfjOsMFCWy_list-style-type);
  flex-column-gap: var(--mixin-G0OfjOsMFCWy_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-nJCVMDDEQGpd_color);
  font-size: var(--mixin-nJCVMDDEQGpd_font-size);
  font-weight: var(--mixin-nJCVMDDEQGpd_font-weight);
  line-height: var(--mixin-nJCVMDDEQGpd_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-GX8pGJe6bXEh_color);
  font-size: var(--mixin-GX8pGJe6bXEh_font-size);
  font-weight: var(--mixin-GX8pGJe6bXEh_font-weight);
  line-height: var(--mixin-GX8pGJe6bXEh_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-NhzgDSQS07Nn_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1):hover,
h1:where(.root_reset.h1):hover,
:where(.root_reset .__wab_expr_html_text) h1:hover,
:where(.root_reset_tags) h1:hover,
h1:where(.root_reset_tags):hover {
}

:where(.root_reset) a:where(.a):active,
a:where(.root_reset.a):active,
:where(.root_reset .__wab_expr_html_text) a:active,
:where(.root_reset_tags) a:active,
a:where(.root_reset_tags):active {
  color: var(--mixin-VoXSmjR4lVEM_color);
}

:where(.root_reset) a:where(.a):visited,
a:where(.root_reset.a):visited,
:where(.root_reset .__wab_expr_html_text) a:visited,
:where(.root_reset_tags) a:visited,
a:where(.root_reset_tags):visited {
  color: var(--mixin-CfgMLdYGxpeA_color);
}

:where(.root_reset) h1:where(.h1):visited,
h1:where(.root_reset.h1):visited,
:where(.root_reset .__wab_expr_html_text) h1:visited,
:where(.root_reset_tags) h1:visited,
h1:where(.root_reset_tags):visited {
  font-family: var(--mixin-5BAu8p-TNTT2_font-family);
}

:where(.root_reset) h2:where(.h2):visited,
h2:where(.root_reset.h2):visited,
:where(.root_reset .__wab_expr_html_text) h2:visited,
:where(.root_reset_tags) h2:visited,
h2:where(.root_reset_tags):visited {
  font-family: var(--mixin-3gxKOADiSV8V_font-family);
}

:where(.root_reset) h3:where(.h3):visited,
h3:where(.root_reset.h3):visited,
:where(.root_reset .__wab_expr_html_text) h3:visited,
:where(.root_reset_tags) h3:visited,
h3:where(.root_reset_tags):visited {
  font-family: var(--mixin-VPgAMQRntl3H_font-family);
}

:where(.root_reset) h4:where(.h4):visited,
h4:where(.root_reset.h4):visited,
:where(.root_reset .__wab_expr_html_text) h4:visited,
:where(.root_reset_tags) h4:visited,
h4:where(.root_reset_tags):visited {
  font-family: var(--mixin-9OneNZUnaPfa_font-family);
}

:where(.root_reset) h5:where(.h5):visited,
h5:where(.root_reset.h5):visited,
:where(.root_reset .__wab_expr_html_text) h5:visited,
:where(.root_reset_tags) h5:visited,
h5:where(.root_reset_tags):visited {
  font-family: var(--mixin-dyBnST3v_l73_font-family);
}

:where(.root_reset) h6:where(.h6):visited,
h6:where(.root_reset.h6):visited,
:where(.root_reset .__wab_expr_html_text) h6:visited,
:where(.root_reset_tags) h6:visited,
h6:where(.root_reset_tags):visited {
  font-family: var(--mixin-_boxQ7nogMS0_font-family);
}
